@import "../../../styles/vars.scss";

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.accountAmount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

@media screen and (max-width: 570px) {
  .account {
    flex-direction: column;
    gap: 20px;
  }

  .accountContentWrapper {
    text-align: center;
  }

  .transactionButton {
    width: 100%;
  }
}