@import "../../../styles/vars.scss";

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  position: relative;
}

#logo {
  width: 200px;

  img {
    width: 100%;
    height: auto;
  }
}

#nav {
  font-weight: bold;

  a {
    color: $text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.userNav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#logOutButton {
  background-color: transparent;
  color: $text;
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
  }
}