@import "../../styles/vars.scss";

#editUser {
  background-color: $bgdark;
  min-height: 80vh;
  display: flex;
  align-items: flex-start;
}

.signInContent {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 20px 0;
  }
}

.signInButton {
  width: 100%;
}

#cancelButton {
  margin-top: 1rem;
  background-color: $white;
  color: $text;
  border: 1px solid $text;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
}