@import "../../styles/vars.scss";

#user {
  background-color: $bgdark;
  min-height: 80vh;
}

.header {
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
  }
}