@import "../../styles/vars.scss";

#user {
  background-color: $bgdark;
  min-height: 80vh;
}

.header {
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
  }
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.accountAmount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}